ul, li {
    list-style: none;
    padding: 0;
}
.login-box {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    height: 100%;
}
#login-promote {
    background-image: url(../images/login/login-main-bg.jpg);
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}
.login-logo {
    margin-left: 8%;
    margin-bottom: 0%;
    float: left;
    top: -15px;
    position: relative;
}
.login-logo img {
    width: auto !important;
    height: 85px !important;
}
#login-header {
    width: 100%;
    height: 60px;
    padding: 6px;
    background-color: white;
    display: block;
    margin-bottom: 4%;
}
#login-header h2 {
    position: absolute;
    top: -5px;
    left: 10%;
    color: #4f39a2;
}
.login-container {
    padding: 0;
    position: relative;
    max-width: 950px;
    height: 533px;
    margin: 0 auto;
}
.login-container div.login-box:first-child {
    float: left;
    min-width: 64%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 100%;
    display:block;
    /*padding: 10% 3% 20% 5%;*/
    padding: 20px 50px 20px 50px;
}
.login-container div.login-box:first-child div {
    float: left;
    width: 100%;
}
.login-container div.login-box:first-child h1 {
    position: absolute;
    bottom: 60%;
    left: 10%;
}
.login-container div.login-box:first-child p {
    color: gray;
}
.login-container div {
    float: left;
    min-width: 28%;
}
.login-box img[alt=title-image] {
    width: 250px;
    height: auto;
    float: right;
    margin-top: -25%;
}

#login-section ul {
    position: relative;
}
#login-section li:first-child img {
    width: 40%;
    position: absolute;
    left: -23px;
}
#login-section li:first-child h4 {
    color: white;
    font-weight: bold;
    font-size: normal;
    position: relative;
    left: -15px;
    top: 8px;
    margin-bottom: 25px;
}
.login-btn-img {
	width:235px;
	height:auto;
}
.login-container div.login-box ul li img[alt=login-via-facebook] {
    display: block;
    position: relative;
    left: 45%;
    margin-left: -108px;
    padding: 10px; 
}
.login-container div.login-box ul li img[alt=fb-icon] {
    margin-right: 10px;
    width: 15px;
}
.login-container div.login-box ul li a[title=user-name]:after {
    content: ",";
    font-weight: bolder;
    font-size: larger;
    color: black;
}
.login-container div.login-box ul li span[title=fd-num]:before {
    content: " å’Œ ";
}
.login-container div.login-box ul li span[title=fd-num]+p {
    display: inline-block;
}
.login-fd-list img{
    width: 35px;
    display: inline-block;
    margin-right: 3px;
}
.login-container div.login-box ul hr {
    border: #c1c1c1 thin dashed;
}
#login-info-wrapper {
    text-align: center;
}
#login-info-wrapper .general-textfield {
    border-radius: 20px;
    width: 80%;
    border: thin solid #bcbcbc;
    padding: 7px 15px 7px 7px;
    float: left;
    height: 32px;
    margin-bottom: 15px;
    margin-left: 35px;
}
#login-info-wrapper .general-textfield:focus {
    border: thin solid #FF99B8;
}
#login-info-wrapper p {
    padding: 0 30px;
    color: gray;
    font-size: 11px;
    float: left;
}
#login-password {
    position: relative;
    left: 2px;
}
#login-state {
    float: left;
    margin: 2px 0 0 10px;
}
#login-state + p {
    padding: 0 7px;
    color: gray;
    font-size: 13px;
    float: left;
}
#login-btn, #signup-btn {
    font-size: 18px;
    font-weight: bold;
    width: 80%;
    height: 42px;
    padding: 5px;
    background-repeat: no-repeat;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    background-color: #ffac33;
    background-image: linear-gradient(#ffcc4d,#ffac33);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d, endColorstr=#ffac33, GradientType=0)";
    border-color: #f1a02a;
    color: #292f33;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
#login-newacc {
    margin-top: 25px;
}
#login-newacc p {
    color: gray;
    font-size: small;
}
#login-newacc a {
    color: gray;
}
#login-newacc a:hover {
    color: gray;
}
#login-footer {
    width: 100%;
    position: relative;
    float: left;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
    color: white;
}
#login-footer a {
    color: white;
    margin-right: 10px;
}


/* Password related */
.pwd-container {
    padding: 20px;
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 950px;
}
.pwd-container div.login-box:first-child {
    float: left;
    width: 100%;
    margin-right: 2%;
    height: 100%;
    /*padding: 10% 3% 20% 5%;*/
    padding: 20px 30px;
}
.pwd-container div.login-box:first-child p {
    color: gray;
}
.pwd-container div {
    float: right;
    width: 28%;
}
#pwd-btn {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    padding: 5px;
    background-repeat: no-repeat;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    background-color: #ffac33;
    background-image: linear-gradient(#ffcc4d,#ffac33);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffcc4d, endColorstr=#ffac33, GradientType=0)";
    border-color: #f1a02a;
    color: #292f33;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    align: left;
}
#loginModal .modal-dialog {
    width: 350px;
}