@(category: String, products: String, userInfo: String)

<!doctype html>
<html lang="zh-hk">
    <head>
        <title>Everymom is a Seller! | babybox</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
        <!--meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT"-->
        
        <!-- seo -->
        <meta name="fragment" content="!">
        <meta name="robots" content="index, follow" />
        <meta name="description" content="babybox - Everymom is a Seller!">
        <meta name="keywords" content="babybox, baby box, baby-box">
        <link rel="canonical" href="http://www.baby-box.hk/home" />
        
        <!-- properties for facebook post preview -->
        <meta property="og:image" content="http://www.baby-box.hk/assets/app/images/login/login-main-bg.jpg" />
        <!--meta property="og:title" content="title" />
        <meta property="og:description" content="description" /-->
        
      <!--   <link rel="stylesheet" href="assets/assets/css/module.stylesheet-complete.min.css" /> -->
        <link rel="stylesheet" href="@routes.Assets.versioned("components/library/bootstrap/css/bootstrap.min.css")" />
      	<link rel="stylesheet" href="@routes.Assets.versioned("app/bower_components/ng-file-upload/css/file-upload.css")" />
      	<link rel="stylesheet" href="@routes.Assets.versioned("app/bower_components/dropdowns-enhancement/css/dropdowns-enhancement.css")" />
      	<link rel="stylesheet" href="@routes.Assets.versioned("app/bower_components/angular-xeditable/dist/css/xeditable.css")" />
        <link rel="stylesheet" href="@routes.Assets.versioned("app/bower_components/angular-bootstrap-datetimepicker/src/css/datetimepicker.css")" />
        
      	<link rel="icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon-1.ico")">
      	<link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("app/images/favicon-1.ico")">
    </head>
    <body id="main-app" class="menu-right-hidden" ng-app="babybox" ng-controller="CategoryPageController">
    <span us-spinner spinner-key="loading..." ></span>
        <div class="container-fluid menu-hidden">
            <div id="main-view" >
            	
            	
            	<div data-ng-include data-src="'/assets/app/views/babybox/web/category.html'"></div>
            </div>
        </div>

        <script type="text/javascript" src="@routes.Assets.versioned("app/scripts/pre-angular.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("components/library/jquery/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("components/library/jquery/jquery.validate.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/ng-file-upload/angular-file-upload-shim.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/angular/angular.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/angular-resource/angular-resource.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/angular-route/angular-route.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/ngInfiniteScroll/ng-infinite-scroll.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/angular-bootstrap/ui-bootstrap.min.js")"></script>
    	<script src="@routes.Assets.versioned("app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")"></script> 
    	<script src="@routes.Assets.versioned("app/bower_components/ng-file-upload/angular-file-upload.min.js")"></script> 
    	<script src="@routes.Assets.versioned("app/bower_components/angular-xeditable/dist/js/xeditable.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/moment/min/moment.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/angular-validator/dist/angular-validator.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/angular-validator/dist/angular-validator-rules.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/spin.js/spin.js")"></script>
    	<script src="@routes.Assets.versioned("app/bower_components/angular-spinner/angular-spinner.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/angular-truncate/dist/angular-truncate.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/tinymce/tinymce.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/angular-ui-tinymce/src/tinymce.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/imagesloaded/imagesloaded.pkgd.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/dropdowns-enhancement/dropdowns-enhancement.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("app/bower_components/angular-ui-utils/ui-utils.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("app/bower_components/angular-sanitize/angular-sanitize.min.js")"></script>
        
        <script src="@routes.Assets.versioned("components/library/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.versioned("app/bower_components/angular-bootstrap-datetimepicker/src/js/datetimepicker.js")"></script>
        <script src="@routes.Assets.versioned("components/plugins/ajaxify/script.min.js?v=v1.0.0&sv=v0.0.1")"></script>
        
    	<script src="@routes.Assets.versioned("app/bower_components/angular-moment/angular-moment.min.js")"></script>
    	<script src="@routes.Assets.versioned("components/common/gallery/image-crop/assets/lib/js/jquery.Jcrop.js")"></script>
    	<script src="@routes.Assets.versioned("app/scripts/lib/jquery.visible.min.js")"></script>
    	<script src="@routes.Assets.versioned("app/scripts/lib/bootbox-4.2.0.min.js")"></script>
    	<script src="@routes.Assets.versioned("app/bower_components/angular-ngdialog/js/ngDialog.min.js")"></script>
    	
    	<script type="text/javascript" src="@routes.Assets.versioned("app/scripts/babybox/web/home-app.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("app/scripts/controllers/services.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("app/scripts/controllers/factories.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("app/scripts/controllers/main.js")"></script>
       
		<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/components.css")>
		<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/home/home.css")>
		<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/home/item-cards.css")>
		<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/home/category/categories.css")>
		<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/css/common.css")>
		<link rel="stylesheet" href=@routes.Assets.versioned("app/custom-css/babybox-override.css")>
		
    </body>
</html>
<script type="text/javascript">
	angular.module('babybox').factory('category', function(){
		return @Html(category);
	});
	angular.module('babybox').factory('product', function(){
		return @Html(products);
	});
	angular.module('babybox').factory('userInfo', function(){
		return @Html(userInfo);
	});
</script>