<header>
	<div data-ng-include style="width: 100%;"
		data-src="'/assets/app/views/header-bar.html'"></div>
</header>

<div class="themeA-container">
	<div class='container push-body' id='outer' style="width: 100%;padding-top: 55px;">
		<div id='inner'>
			<div class='followable-resource' data-id='16031729'
				data-username='codeplusform' id='user-profile'>
				<div class='user-profile-details-container'>
					<div class='user-profile-avatar'>
						<img alt="codeplusform" class="avatar-image avatar-x200 "
							data-ng-src="/image/get-thumbnail-image-by-id/{{user.id}}" />
					</div>
					<div class='user-profile-details' data-username='codeplusform'>
						<div class='user-profile-details-name'>
							<h1>{{user.dn}}</h1>
						</div>
						<div class='user-profile-bio-details'>
							<p class='user-profile-bio'>{{user.a}}</p>
						</div>
					</div>
				</div>
				<div class='page-header-followers user-page-header-followers'>
					<ul>
						<li><a href=""
							class="followers-count follow-count"><span
								class='follow-count'>{{user.n_fr}}</span> followers</a></li>
						<li><a href="" class="follow-count"><span
								class='follow-count'>{{user.n_fn}}</span> following</a></li>
						<li><a data-ng-if="!user.ifu"
							class="largish wb-follow btn-follow"
							data-ng-click="onFollowUser()">Follow</a> <a
							data-ng-if="user.ifu"
							class="largish wb-unfollow btn-unfollow"
							data-ng-click="onUnFollowUser()">Following</a></li>
					</ul>
				</div>
				<div class='clearfix'></div>
			</div>
			<ul class="boxy-tabs clearfix profile-navigation-tabs">
				<li class="active"><a data-toggle="tab" href="#product"><span
						class='follow-count'>{{user.n_p}}</span> Products </a></li>
				<li><a data-toggle="tab" href="#collection"><span
						class='follow-count'>{{user.n_c}}</span> Collections </a></li>
				<li data-ng-if="user.ilu"
					class="profile-tab-right new-collection-link"
					data-target="#new-collection-modal" data-toggle="modal"><a
					href="#new-collection">New Collection</a></li>
			</ul>
			<div class="tab-content">
				<div id="product" class="tab-pane fade in active">
					<div data-ng-include
						data-src="'/assets/app/views/babybox/product-mouseover-info.html'"></div>
				</div>
				<div id="collection" class="tab-pane fade">
					<div data-ng-include
						data-src="'/assets/app/views/babybox/collection-tab.html'"></div>
				</div>

			</div>
			<div class='container seo_phrases-show'></div>

		</div>

	</div>
	<div class="collection-modal modal fade in" id="new-collection-modal"
		style="z-index: 10000;">
		<div class="modal-body">
			<button class="close" data-dismiss="modal">×</button>
			<form ng-controller="CreateCollectionController" name="formData"
				class="new_collection" id="formData" ng-submit="createCollection()"
				method="post" enctype="multipart/form-data">
				<div class="modal-edit-collection-header">
					<h2>New Collection</h2>
				</div>
				<div class="clearfix"></div>
				<div class="control-group">
					<div class="col-md-12">
						<div class="form-group">
							<label>Title</label> <input name="collection_name"
								id="collection_name" class="form-control" placeholder="Title"
								data-ng-model="formData.name" required type="text">
						</div>
					</div>
				</div>
				<div class="control-group">
					<div class="col-md-12">
						<div class="form-group">
							<label> Description: </label>
							<textarea name="collection_desc" id="collection_desc" cols="40"
								data-character-limit="140" class="form-control"
								placeholder="description" rows="20" maxlength="140"
								data-ng-model="formData.description" required>
                   		 </textarea>
						</div>
					</div>
				</div>

				<div class="control-group centered stories-new-form-submit">
					<input class="button wb-primary large aggro"
						ng-disabled="formData.$invalid" type="submit" value="Create">
					<button class="button cancel wb-follow large gray aggro"
						data-dismiss="modal">Cancel</button>
				</div>
			</form>

		</div>
	</div>
</div>