<div class="products-thumbnails product-card-container" style="text-align: center">
	<span data-ng-repeat="product in similarProducts" >
			<div class="product-card product-overlay-container ">
				<a href="/product/{{product.id}}"
					class="product-thumbnail js-open-product-modal product-active"
					data-requesting-action="show">
					<img data-ng-src="/image/get-post-image-by-id/{{product.images[0]}}"></a>
				<div class="info">
					<a><img class="avatar-image avatar-x45 "
						data-ng-src=" /image/get-thumbnail-image-by-id/{{product.ownerid}}"></a><a
						href="/profile/{{product.ownerid}}" class="attributed-username">{{product.on}}</a><a
						class="collection-name"></a>
				</div>
				<div class="product-overlay">
					<div class="product-overlay-detail">
						<div class="name">
							<a class="js-open-product-modal" data-requesting-action="show">{{product.desc}}</a>
						</div>
						<div class="poster">
							<a href="/profile/{{product.oid}}">{{product.title}}</a>
						</div>
						<div class="store">
							<span> Rs.{{product.price}}/- </span>
						</div>
					</div>
				</div>
			</div>
	</span>
</div>

