<!-- Top Header Bar -->
<div class="header">
	<div class='inner middle-centered-div'>	
        <a href="/"><div class='ic_logo clickable_area'>
    </div></a>
		<div class="no-search-bar-holder flex1"></div>
		<div class='page_name L16'></div>
		
		<a href="/profile/{{userInfo.id}}">
		<div class='hold user_avatar ic_web_profile clickable_area'></div>
		</a>
		<div class='second-panel'>
				<div class='signup-btn' data-i18n='label_signup'>
				</div>
				<div class='login-btn' data-i18n='label_login'>
				</div>
		</div>
        <div class="clearfix"></div>
	</div>
</div>
