* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: inherit
}

body {
    line-height: 1.42857;
    font-size: 14px
}

div,
p,
input {
    font-size: 14px
}

.btn {
    display: inline-block
}

label {
    display: inline-block;
    max-width: 100%
}

@media (min-device-width: 720px) {
    .login-signup {
        max-width: 600px
    }
}

.login-signup {
    margin-left: auto;
    margin-right: auto
}

input {
    height: 44px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    width: 90%;
    margin: 8px auto;
    display: block;
    outline: none
}

.captcha {
    position: relative;
    height: 44px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    width: 90%;
    margin: 8px auto;
    display: block;
    outline: none
}

.captcha img {
    position: absolute;
    width: 63px;
    left: 50%;
    margin-left: -31px;
    bottom: 8px
}

.btn-signup {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    padding: 0 12px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border: 1px solid #FF76A4;
    background-color: #FF76A4;
    color: white;
    min-width: 60px;
    width: 90%;
    margin: 36px auto;
    height: 44px;
    line-height: 44px;
    display: block
}

.btn-signup:active {
    background-color: #ee3900;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12)
}

.logo {
    margin: 20px auto 10px auto;
    width: 121px;
    height: 50px;
    background-image: url(../../images/logo_babybox%402x.png);
    background-size: 122px 50px
}