* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: inherit
}

body {
    line-height: 1.42857;
    font-size: 14px
}

div,
p,
input {
    font-size: 14px
}

.btn {
    display: inline-block
}

label {
    display: inline-block;
    max-width: 100%
}

body,
html {
    height: 100%;
    width: 100%
}

.field {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px rgba(0, 0, 0, 0.09) solid;
    outline: none;
    display: block;
    height: 40px;
    color: #3b3f53;
    width: 100%
}

.field:focus {
    border-color: #00bfa5
}

.input {
    margin: 0px 24px;
    padding: 4px 0
}

@media (min-device-width: 720px) {
    #login {
        max-width: 600px
    }
    #login #btn_login {
        margin: 16px 24px !important
    }
}

#login {
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    width: 100%;
    padding-top: 80px
}

#login select {
    border: none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    border-bottom: 1px rgba(0, 0, 0, 0.09) solid;
    outline: none;
    display: block;
    height: 40px;
    color: #3b3f53
}

#login .blur {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-filter: blur(2px);
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat no-repeat;
    background-image: url("../../images/img_cover_default%401x.png")
}

@media (-webkit-min-device-pixel-ratio: 2) and (-webkit-max-device-pixel-ratio: 2.99) {
    #login .blur {
        background-image: url("../../images/img_cover_default%402x.png")
    }
}

@media (-webkit-min-device-pixel-ratio: 3) {
    #login .blur {
        background-image: url("../../images/img_cover_default%403x.png")
    }
}

#login .logo {
    margin: 20px auto 10px auto;
    width: 128px;
    height: 32px;
    background-image: url(../../images/logo_babybox%402x.png);
    background-size: 128px 32px
}

#login .feedback {
    position: relative;
    padding: 14px;
    display: none;
    margin: 24px;
    border: 1px solid rgba(255, 87, 34, 0.3);
    background: rgba(255, 87, 34, 0.1);
    border-radius: 4px;
    color: #FF76A4
}

#login #btn_login {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    padding: 0 12px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border: 1px solid #FF76A4;
    background-color: #FF76A4;
    color: white;
    min-width: 60px;
    margin: 8px 24px;
    text-align: center;
    line-height: 48px;
    height: 48px
}

#login #btn_login:active {
    background-color: #ee3900;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12)
}

#login .other-options {
    position: relative;
    margin: 12px 24px;
    text-align: center
}

#login .other-options .forgot-password {
    color: rgba(0, 0, 0, 0.87);
    display: inline-block
}

#login .divider {
    color: rgba(0, 0, 0, 0.54);
    margin: 24px 24px;
    position: relative
}

#login .divider .line {
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    height: 50%;
    width: 45%;
    position: absolute;
    top: 0;
    left: 0
}

#login .divider .line.right {
    right: 0
}

#login .divider .text {
    text-align: center
}

#login .facebook {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    padding: 0 12px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin: 0px 24px 8px 24px;
    position: relative;
    text-align: center;
    line-height: 48px;
    height: 48px;
    background-color: #395795;
    color: white
}

#login .facebook .ic_facebook_2 {
    position: absolute;
    left: 18px;
    top: 16px
}

#login .facebook .border {
    position: absolute;
    left: 40px;
    top: 12px;
    height: 24px;
    border-right: 1px solid rgba(255, 255, 255, 0.54)
}

#login .signup {
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    height: 36px;
    padding: 0 12px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    position: relative;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 30px;
    text-align: center;
    color: #888;
    height: 36px;
    line-height: 36px;
    border: 1px rgba(0, 0, 0, 0.09) solid
}

#login .signup a {
    color: #888;
    text-decoration: underline
}