* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: inherit
}

body {
    line-height: 1.42857;
    font-size: 14px
}

div,
p,
input {
    font-size: 14px
}

.btn {
    display: inline-block
}

label {
    display: inline-block;
    max-width: 100%
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

a {
    text-decoration: none;
    color: inherit
}

body {
    line-height: 1.42857;
    font-size: 14px
}

div,
p,
input {
    font-size: 14px
}

.btn {
    display: inline-block
}

label {
    display: inline-block;
    max-width: 100%
}

.flex1 {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1
}

.flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    background-color: lightgrey;
    min-height: 50px
}

.middle-centered-div {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center
}

.fixed-bottom-holder {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding: 6px 12px;
    z-index: 999;
    background-color: white
}

.flex-it {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -moz-box-wrap: nowrap;
    -webkit-box-wrap: nowrap;
    -webkit-flex-wrap: nowrap;
    -ms-flexbox-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.flex-row {
    -moz-box-direction: row;
    -webkit-box-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flexbox-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.flex-col {
    -moz-box-direction: column;
    -webkit-box-direction: column;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flexbox-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.flex-align-between {
    -webkit-box-align-content: space-between;
    -webkit-align-content: space-between;
    -ms-flex-align-content: space-between;
    align-content: space-between
}

.flex-align-center {
    -webkit-box-align-content: center;
    -webkit-align-content: center;
    -ms-flex-align-content: center;
    align-content: center
}

.flex-align-start {
    -webkit-box-align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-align-content: flex-start;
    align-content: flex-start
}

.flex-align-item-start {
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -moz-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start
}

.flex-align-item-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.flex-start-all {
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: flex-start;
    -webkit-box-align: flex-start;
    -webkit-align-items: flex-start;
    -moz-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-align-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-align-content: flex-start;
    align-content: flex-start
}

.flex-align-item-stretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch
}

.flex-justify-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: space-between
}

.flex-justify-center {
    -webkit-box-pack: justify;
    -webkit-justify-content: center;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: center
}

.flex-justify-start {
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: flex-start
}

.flex-justify-end {
    -webkit-box-pack: justify;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: justify;
    -moz-box-pack: justify;
    justify-content: flex-end
}

.flex-wrap {
    -moz-box-wrap: wrap;
    -webkit-box-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flexbox-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.flex-item-auto {
    -webkit-box-basis: auto;
    -webkit-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1
}

.shop-part-container {
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    position: relative;
    background: white;
    margin: 12px
}

.shop-part-container .shop-part a {
    text-decoration: none
}

.shop-part-container .shop-part .top-holder {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center;
    margin: 12px 12px 0 12px
}

.shop-part-container .shop-part .top-holder .avatar-box {
    height: 40px
}

.shop-part-container .shop-part .top-holder .avatar-box img {
    border-radius: 20px;
    height: 40px
}

.shop-part-container .shop-part .top-holder .center-box {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1;
    margin-left: 8px
}

.shop-part-container .shop-part .top-holder .center-box .head-line {
    color: rgba(0, 0, 0, 0.87)
}

.shop-part-container .shop-part .top-holder .center-box .gray-line {
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.54)
}

.shop-part-container .shop-part .top-holder .view-box {
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    color: #3b3f53;
    min-width: 68px;
    height: 28px;
    text-align: center;
    line-height: 26px;
    padding: 0 12px
}

.shop-part-container .shop-part .top-holder .view-box.isPC {
    background: #FF76A4;
    color: white;
    font-size: 14px;
    border: none;
    line-height: 28px
}

.shop-part-container .shop-part .bottom-holder {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center;
    margin-bottom: 12px;
    margin-top: 18px
}

.shop-part-container .shop-part .bottom-holder li {
    text-align: center
}

.shop-part-container .shop-part .bottom-holder li.border {
    height: 80%;
    width: 1px;
    border-right: 1px solid rgba(0, 0, 0, 0.09)
}

.shop-part-container .shop-part .bottom-holder li.products-box {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1
}

.shop-part-container .shop-part .bottom-holder li.reviews-box {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1
}

.shop-part-container .shop-part .bottom-holder li.response-rate-box {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1
}

.shop-part-container .shop-part .bottom-holder li .box-above {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center;
    justify-content: center;
    -webkit-justify-content: center
}

.shop-part-container .shop-part .bottom-holder li .box-above .text {
    color: #FF76A4;
    margin-left: 4px
}

.shop-part-container .shop-part .bottom-holder li .box-lower {
    color: rgba(0, 0, 0, 0.54);
    margin-top: 4px
}

.shop-part-container .shop-part .bottom-holder.isPC {
    margin: 0px 0 0 0
}

.shop-part-container .shop-part .bottom-holder.isPC li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center;
    padding: 10px 0
}

.shop-part-container .shop-part .bottom-holder.isPC li .space {
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    -webkit-box-flex: 1
}

.shop-part-container .shop-part .bottom-holder.isPC li .box-left {
    margin-right: 8px
}

.shop-part-container .shop-part .bottom-holder.isPC li .box-left .icon {
    width: 16px;
    height: 16px;
    background-size: 16px 16px;
    vertical-align: text-bottom
}

.shop-part-container .shop-part .bottom-holder.isPC li .box-right {
    text-align: left
}

.shop-part-container .shop-part .bottom-holder.isPC li .box-right .number {
    color: #FF76A4
}

.shop-part-container .shop-part .bottom-holder.isPC li .box-right .text {
    color: rgba(0, 0, 0, 0.54)
}

.shop-part-container .shop-part.isSeller .bottom-holder:not(.isPC) li.products-box {
    flex: 10;
    -webkit-flex: 10;
    -ms-flex: 10;
    -webkit-box-flex: 10
}

.shop-part-container .shop-part.isSeller .bottom-holder:not(.isPC) li.reviews-box {
    flex: 14;
    -webkit-flex: 14;
    -ms-flex: 14;
    -webkit-box-flex: 14
}

.shop-part-container .shop-part.isSeller .bottom-holder:not(.isPC) li.response-rate-box {
    flex: 13;
    -webkit-flex: 13;
    -ms-flex: 13;
    -webkit-box-flex: 13
}

.seller-card .shop-part-container .shop-part .top-holder .avatar-box {
    height: 50px
}

.seller-card .shop-part-container .shop-part .top-holder .avatar-box img {
    border-radius: 25px;
    height: 50px
}

.seller-card .shop-part-container .shop-part .products-holder {
    display: inline-block;
    align-items: center;
    box-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-self: center;
    -webkit-align-self: center;
    margin: 10px 10px
}

.seller-card .shop-part-container .shop-part .products-holder li {
    text-align: center
}

.seller-card .shop-part-container .shop-part .products-holder li.product-box {
    display: inline-block;
    width: 25%;
    height: auto;
    padding: 2px
}

.seller-card .shop-part-container .shop-part .products-holder li.product-box img {
    width: 100%;
    height: 100%;
    display: block;
}

.seller-card .shop-part-container .shop-part .products-holder li.product-box .product-gradient {
    position:relative;
}

.seller-card .shop-part-container .shop-part .products-holder li.product-box .product-gradient:after {
    content:'';
    position:absolute;
    left:0; 
    top:0;
    width:100%; 
    height:100%;
    display:inline-block;
    background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.seller-card .shop-part-container .shop-part .products-holder li.product-box .product-count {
    position: absolute;
    width: 23%;
    height: 23%;
    color: #fff;
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-top: -18%;
    margin-right: 0px
}

.seller-card .shop-part-container .shop-part .products-holder li.product-box .product-count .product-details-c {
    display: table;
    width: 100%;
    height: 100%;
}

.seller-card .shop-part-container .shop-part .products-holder li.product-box .product-count .product-details-c .product-details {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.shop-part-container.inShop {
    margin: 0;
    border-color: transparent
}

.shop-part-container.inShop a {
    cursor: default
}

.shop-part-container.inShop .shop-part .top-holder {
    display: none
}

.shop-part-container.inShop .shop-part .bottom-holder li.products-box,
.shop-part-container.inShop .shop-part .bottom-holder li.reviews-box {
    cursor: pointer
}

.shop-part-container.inShop .shop-part .bottom-holder li.border {
    height: 100%
}

.shop-part-container.old {
    border: 1px solid rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    position: relative;
    background: white;
    margin: 12px;
    height: 72px;
    padding: 0 12px
}

.shop-part-container.old a {
    height: 100%
}

.shop-part-container.old .image-container {
    border-radius: 24px;
    overflow: hidden
}

.shop-part-container.old .image-container .image {
    width: 48px;
    height: 48px;
    background-size: 48px 48px;
    border-radius: 24px
}

.shop-part-container.old .text {
    padding: 0 12px
}

.shop-part-container.old .text .title {
    color: rgba(0, 0, 0, 0.87);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.shop-part-container.old .text .param {
    margin-top: 2px;
    color: rgba(0, 0, 0, 0.54)
}

.shop-part-container.old .text .param .product {
    margin-left: 10px
}

.shop-detailed-info {
    background: white;
}

.shop-detailed-info .shop-description-wrapper, .shop-detailed-info .shop-status {
    width: 1px;
    min-width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

.shop-detailed-info .shop-description {
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.shop-detailed-info .shop-description-wrapper, .shop-detailed-info .shop-status {
    width: 1px;
    min-width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

.shop-detailed-info .shop-link {
    color: #ff5722;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

.shop-detailed-info .shop-verified-status {
    margin-top: 4px;
}

.shop-detailed-info .shop-verified-status span {
    margin: 0 2px;
}
