<div class="header">
 <div class='inner middle-centered-div'>
  <div ng-click="doBack()"
   class="icon_left ic_icon  ic_arrow_back clickable_area"></div>
  <div class="no-search-bar-holder flex1"></div>
  <div class='page_name L16'>
    <span ng-if="follow == 'followers'">{{'FOLLOWERS'|translate}}</span>
    <span ng-if="follow == 'followings'">{{'FOLLOWINGS'|translate}}</span>
  </div>
  <span ng-if="!userInfo.isLoggedIn" style="padding-right: 15px;">
   <a href="/login">
    <div class='hold user_avatar ic_web_profile clickable_area'></div>
   </a>
  </span> 
  <span ng-if="userInfo.isLoggedIn"
   style="padding-right: 15px; padding-top: 0px;"> 
   <a href="/seller/{{userInfo.id}}">
    <div class="hold user_avatar clickable_area" style="background-image: url(/image/get-mini-profile-image-by-id/{{userInfo.id}});"></div>
   </a>
  </span>
  <div class='second-panel'>
   <div class='signup-btn' data-i18n='label_signup'></div>
   <div class='login-btn' data-i18n='label_login'></div>
  </div>
  <div class="clearfix"></div>
 </div>
</div>


<div id="shop-followers" class="has-toolbar page-holder center-container" style="padding-top: 44px;">
<div infinite-scroll='loadMore()' infinite-scroll-distance='2'>
 <ul class="follower-list" ng-repeat="follower in followers">
  <li class="clickable_area middle-centered-div">
  <a href="/seller/{{follower.id}}" class="shop-href">
    <div class="portrait" style="background-image: url(/image/get-mini-profile-image-by-id/{{follower.id}})"></div>
  </a>
 <div class="central-part flex1">
  <div class="up m14">
    <a href="/seller/{{follower.id}}" class="shop-href">{{follower.displayName}}</a>
  </div>
 </div>
 <div ng-if="!follower.isFollowing" ng-click="onFollowUser(follower)">
   <div ng-if="userInfo.isLoggedIn && follower.id != userInfo.id" class="btn-follow follow L14" ><span class="L14">{{'FOLLOW'|translate}}</span></div>
  </div>
  <div ng-if="follower.isFollowing" ng-click="onUnFollowUser(follower)">
   <div ng-if="userInfo.isLoggedIn && follower.id != userInfo.isLoggedIn" class="btn-follow follow L14 active" ><span class="L14">{{'FOLLOWING'|translate}}</span></div>
  </div>
 </li>
</ul>
</div>
</div>
<div id="back-to-top" data-ng-click="gotoTop()" class="gtop ic_maketop None" 
style="z-index: 10; display: none;"></div>
