<div class="header">
 <div class='inner middle-centered-div' style="padding-right: 15px;">
  <div ng-click="doBack()"
   class="icon_left ic_icon  ic_arrow_back clickable_area"></div>
  <div class="no-search-bar-holder flex1"></div>
  <div class='page_name L16'><a href="/"><div class='ic_logo_shortcut clickable_area'></div></a></div>
  <div class="right-side">
   <span ng-if="userInfo.isLoggedIn"> <a
    style="position: relative; top: 0px;"
    class="dropdown-toggle dropdown-hover colorChange"
    data-toggle="dropdown" href="">
     <div ng-class="user.id==userInfo.id ? 'hold ic_web_setting' : '' "></div>
   </a>
    <ul class="dropdown-menu settings-dropdown-menu">
     <li><a href="/logout">{{'LOGOUT'|translate}}</a></li>
     <!--li><a href="" ng-click="toggleLang()">Change Language</a></li-->
    </ul>
   </span>
  </div>

  <div class='second-panel'>
   <div class='signup-btn' data-i18n='label_signup'></div>
   <div class='login-btn' data-i18n='label_login'></div>
  </div>
  <div class="clearfix"></div>
 </div>
</div>

<div class='header-holder'></div>
<div class='body-mask'></div>
<div class='general-mask'></div>
<div class='lure-hold'>
 <div class='close_btn but_no_close' onclick='hideProm()'></div>

 <div class='dogi-logo'>
  <div class='ic_logo_get'></div>
 </div>

 <div class='show-text L13'></div>
 <div class='bottom'>

 </div>
</div>

<div class="babybox-confirm-modal hidden"></div>
<div class="babybox-confirm hidden">
 <div class="confirm-title">
  <div class="content"></div>
 </div>
 <div class="confirm-message">
  <div class="content"></div>
 </div>
 <div class="confirm-button-holder middle-centered-div">
  <div class="confirm-button cancel" data-button-id="1"></div>
  <div class="flex1" data-button-id="0"></div>
  <div class="confirm-button ok" data-button-id="0"></div>
 </div>
</div>

<div id="shop-page" class="has-toolbar page-holder center-container">
 <header style="background-image:url(/image/get-cover-image-by-id/{{user.id}});">
  <div class="mask"></div>
  <div class="flex-it header-container">
   <div class='avatar-container'>
    <div class="avatar" style="background-image: url(/image/get-thumbnail-profile-image-by-id/{{user.id}});"></div>
   </div>
   <div class="flex1 middle-centered-div shopname-wrapper">
    <div class="shopname truncate m16 flex1">{{user.displayName}}</div>
    <div ng-if="!user.isFollowing" ng-click="onFollowUser()">
     <div ng-class="user.id==userInfo.id ? 'hide' : '' "   class='btn-follow follow r10 clickable_area'>{{'FOLLOW'|translate}}</div>
    </div>
    <div ng-if="user.isFollowing" ng-click="onUnFollowUser()">
     <div ng-class="user.id==userInfo.id ? 'hide' : '' " class='btn-follow follow r10 active clickable_area'>{{'FOLLOWING'|translate}}</div>
    </div>
   </div>

  </div>

 </header>
 <div class="shop-stats middle-centered-div">
  <div class='followers r12'>
   <a href="/followers/{{user.id}}" class='followerhref'><span data-i18n='label_follower'>{{'FOLLOWERS'|translate}}</span><span
    class='number r12'>{{user.numFollowers}}</span></a>
  </div>
  <div class='holder withborder flex1'></div>
  <div class='holder flex1'></div>
  <div class='following r12'>
   <a href="/followings/{{user.id}}" class='followinghref'><span data-i18n='label_following'>{{'FOLLOWINGS'|translate}}</span><span
    class='number r12'>{{user.numFollowings}}</span></a>
  </div>
  <div class='holder flex1'></div>
 </div>

 <div class='shop-detailed-info'>

  <div class="shop-description-wrapper padding15" ng-if="user.aboutMe">
    <div class="shop-description r14">{{user.aboutMe}}</div>
  </div>
  
  <div class='shop-part-container inShop'>
   <div class='shop-part ' data-shopid=''>
    <ul class="bottom-holder isPC">
     <li ng-class="activeflag? 'activetab': '' " class="products-box" ng-click="userProducts()">
      <div class="space"></div>
      <div class="box-left">
       <span class="icon ic_detail_product_web"> </span>
       <span class="text r14" data-i18n="label_products">{{'PRODUCTS'|translate}}</span>
       <span class="number m16">{{user.numProducts}}</span>
      </div>
      <div class="space"></div>
     </li>

     <li ng-class="activeflag? '': 'activetab' " class="reviews-box"
      ng-click="likedProducts()">
      <div class="space"></div>
      <div class="box-left">
       <span class="icon ic_offerlist_like"> </span>
       <span class="text r14" data-i18n="label_positive_reviews">{{'LIKES'|translate}}</span>
       <span class="number m16">{{user.numLikes}}</span>
      </div>
      <div class="space"></div>
     </li>

    </ul>
   </div>
  </div>
  
 </div>
</div>

<div class="popular_products_wrapper center-container swiper-container-horizontal">
 <div infinite-scroll='loadMore()' infinite-scroll-distance='2' style="width: 100%">
  <ul class="item-list-pop" data-cate="pop" style="min-height: 629px; text-align: left; width: 102%;">
   <li class="item-card simple null"
    ng-repeat="product in products track by $index">
    <div data-ng-include style="width: 100%;"
     data-src="'/assets/app/views/babybox/web/feed-product-info.html'"></div>
   </li>
  </ul>
 </div>
</div>
<div id="back-to-top" data-ng-click="gotoTop()" class="gtop ic_maketop None" style="z-index: 10; display: none;"></div>
