<div class="shop-part-container" style="margin:7px;">
    <div class="shop-part">
        <a data-ng-href="/seller/{{seller.id}}">
            <div class="top-holder">
                <div class="avatar-box">
                   <img ng-src="/image/get-mini-profile-image-by-id/{{seller.id}}">
                </div>
                <div class="center-box">
                    <div class="head-line m15">{{seller.displayName}}</div> 
                    <span ng-if="seller.isPromotedSeller || seller.isVerifiedSeller">
                        <i class="r-icon r-icon-verified"></i>
                    </span>
                    <div class="gray-line r12">{{'SELLER_FOLLOWERS'|translate}}: {{seller.numFollowers}}</div>
                    <div class="head-line r12" ng-if="seller.aboutMe != ''">{{seller.aboutMe | limitTo: 100}}</div>
                </div>
            </div>
        </a>
        
        <ul class="products-holder">
            <li class="product-box" data-ng-repeat="product in seller.posts | limitTo: productsLength track by $index">
                <a class="" data-ng-href="/seller/{{seller.id}}">
                    <div ng-class="((seller.numMoreProducts > 0) && $last)? 'product-gradient':''">
	                   <img data-ng-src="/image/get-post-image-by-id/{{product.images[0]}}">
	                </div>
	                <div class="product-count" data-ng-if="(seller.numMoreProducts > 0) && $last">
	                    <div class="product-details-c">
	                        <div class="product-details">
	                            <div>+ {{seller.numMoreProducts}}</div>
	                            <div class="txt">{{'PRODUCTS'|translate}}</div>
	                        </div>
	                    </div>
	                </div>
	            </a>
            </li>
	    </ul>
    </div>
</div>
