@(emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._

<!DOCTYPE html>
<html class="app">
    <head>
        <title>babybox - 忘記密碼</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="@routes.Assets.versioned("components/library/bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="../../../assets/app/custom-css/bootstrap-override.css">
        <link rel="stylesheet" href="../../../assets/app/custom-css/textfield.css">
    	<link rel="stylesheet" href="../../../assets/app/custom-css/icon.css">
    	<link rel="stylesheet" href="../../../assets/app/custom-css/login.css">
    	<link rel="stylesheet" href="../../../assets/app/custom-css/themeA.css">
        <style>
            body {
                background-image: url(../../../assets/app/images/login/login-bg.jpg);
                background-size: cover;
                background-position: center center;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    
    <body>
        <div id=login-header>
            <a class="login-logo pull-left" href="/">
                <img src="../../../assets/app/images/logo-2.png" />
            </a>
        </div>
        <div class="pwd-container">
            <div class="login-box" id="login-section">
                <ul>
                    <li><h3><b>忘記密碼?</b></h3></li>
                    <li style="height:10px"></li>
                    <li id="login-info-wrapper" name="login-info">
                        @helper.form(routes.Signup.doForgotPassword) {
                            @if(emailForm.hasGlobalErrors) {
                              <p class="error">
                                <span class="label label-important">@emailForm.globalError.message</span>
                              </p>
                            }
    
                            <div style="position:relative;width:100%;">
                                <table style="display:inline-block;">
                                    <tr>
                                        <td><label for="email" style="padding-right:10px;min-width:80px;">您的電郵:</label></td>
                                        <td width="300px"><input class="form-control text-center bg-gray" id="email" name="email" type="email"/></td>
                                    </tr>
                                </table>
                            </div>
                            <input type="submit" name="pwd-btn" id="pwd-btn" value="重設密碼" />
                        }
                    </li>
                    <li id="login-newacc"><p>還未成為會員? <a href="@routes.Application.signup" class="margin-none" style="position:relative;top:0px;font-size:14px;">立即登記!</a></p></li>
                </ul>
            </div>
        </div>
        <div id="login-footer">
            <p>babybox &#169; 2016 - <a href="/#!">關於</a><a href="/terms" target="_blank">使用條款</a><a href="/privacy" target="_blank">私隱政策</a><a href="/#!">刊登廣告</a></p>
        </div>
    </body>
</html>

<script type="text/javascript" src="@routes.Assets.versioned("app/scripts/tracking.js")"></script>
<script>
    ga_send_pv();
</script>