@(email: String)

@import helper._

<!DOCTYPE html>
<html>
    <head>
        <title>babybox - 會員認證</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="@routes.Assets.versioned("components/library/bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="../assets/app/custom-css/bootstrap-override.css">
        <link rel="stylesheet" href="../assets/app/custom-css/textfield.css">
        <link rel="stylesheet" href="../assets/app/custom-css/boxSetup.css">
        <link rel="stylesheet" href="../assets/app/custom-css/login.css">
        <link rel="stylesheet" href="../assets/app/custom-css/signupInfo.css">
        <script src="@routes.Assets.versioned("components/library/jquery/jquery.min.js")"></script>
        <script src="@routes.Application.jsRoutes" defer="defer"></script>
        <style>
            body {
                background-image: url(../assets/app/images/login/login-bg.jpg);
                background-size: cover;
                background-position: center center;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    
    <body>
        <div id=login-header>
            <a class="login-logo pull-left" href="/">
                <img src="../assets/app/images/logo-2.png" />
            </a>
        </div>
        <div class="signup-info-container">
            <div class="signup-info-box" id="signup-info-section">
                <ul>
                    <li><h5 style="font-size:16px;">@Messages("playauthenticate.verify.email.cta.1") @Messages("playauthenticate.verify.email.cta.2") <b>@email</b>。 @Messages("playauthenticate.verify.email.cta.3")</h5></li>
                    <li><h5 style="color:gray;">註: 若您沒有收到會員認證電郵，請檢查廣告信件匣，部分電郵信箱會誤判我們所發出的郵件為廣告電郵</h5></li>
                </ul>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript" src="@routes.Assets.versioned("app/scripts/tracking.js")"></script>
<script>
    ga_send_pv();
</script>