@(signupForm: Form[_])

@import helper._

<!DOCTYPE html>
<html>
    <head>
        <title>BabyBox - 會員登記</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        
        <!-- seo -->
        <meta name="robots" content="index, follow" />
        <meta name="description" content="BabyBox - Everymom is a Seller!">
        <meta name="keywords" content="babybox, baby box, baby-box">
        
        <link rel="stylesheet" href="@routes.Assets.versioned("components/library/bootstrap/css/bootstrap.min.css")" />
        <link rel="stylesheet" href="../assets/app/custom-css/textfield.css">
    	<link rel="stylesheet" href="../assets/app/custom-css/login.css">
        <link rel="stylesheet" href="../assets/app/custom-css/responsive.css">
        <style>
            body {
                background-image: url(../assets/app/images/login/login-bg.jpg);
                background-size: cover;
                background-position: center center;
                margin: 0;
                padding: 0;
            }
        </style>
    </head>
    
    <body>
        <div id=login-header>
            <a class="login-logo pull-left" href="/">
                <img src="../assets/app/images/logo-2.png" />
            </a>
        </div>
        <div class="login-container  w3-row-padding">
            <div class="login-box w3-third" id="login-promote">
                <!--div><h2>Everymom is a Seller!</h2></div-->
                <div><h4>立即下載 BabyBox 手機 App</h4></div>
                <h1>BabyBox 媽媽即拍即賣</h1>
            </div>
            <div class="login-box w3-third" id="login-section" style="padding:5px 15px;">
                <ul>
                    <li><img src="../assets/app/images/login/login_flag.png" /><h4>會員註冊</h4></li>
                    <li style="padding:10px 10px;text-align:center;"><a href="/authenticate/facebook"><img class="login-btn-img" alt="Login via Faceebook" src="../assets/app/images/login/facebook_acc.jpg" /></a></li>
                    <li style="padding:10px 10px;text-align:center;"><span style="color:gray;font-size:12px;">註: BabyBox不會發佈或留言到您的 facebook 帳戶中</span></li>
                    <hr style="margin-top:10px;margin-bottom: 15px;"/>
                    <li id="login-info-wrapper" name="login-info">
                        <!--  <form id="login-info-wrapper" name="login-info" method="post" action=""> -->
                        @helper.form(routes.Application.doSignup) {
                            <!--
                            @if(signupForm.hasErrors && signupForm.errors.get("userExist") != null) { 
                            <div style="width: 100%;text-align: left;margin-bottom: 5px;">
                                <i class="glyphicon glyphicon-exclamation-sign"></i>
                                <span class="text-danger">您輸入的電郵已經登記。請重試</span>
                                <span class="text-danger">@signupForm.errors.get("userExist").get(0).message</span>
                            </div>
                            }
                            -->
                            
                            @if(flash.get("error")) {
                            <div style="width: 100%;text-align: left;margin-bottom: 5px;">
                                <i class="glyphicon glyphicon-exclamation-sign"></i>
                                <span class="text-danger">@flash.get("error")</span>
                            </div>
                            }
    				        
    				        <span style="position:relative;display:inline-block;width:100%;">
                                <label for="Signup lastname"></label>
                                <input style="width:38%;" type="text" name="lname" id="signup-lastname" class=" form-control general-textfield" placeholder="姓" />
                                <label for="Signup firstname"></label>
                                <input style="width:38%;margin-left: 10px;"type="text" name="fname" id="signup-firstname" class="form-control general-textfield" placeholder="名" />
                            </span>
                            <label for="Signup email"></label>
                            <input type="text" name="email" id="signup-email" class="form-control general-textfield" placeholder="你的電郵" />
                            <label for="Signup password"></label>
                            <input type="password" name="password" id="signup-password" class="form-control general-textfield" placeholder="密碼" />
                            <label for="Signup password"></label>
                            <input type="password" name="repeatPassword" id="signup-password" class="form-control general-textfield" placeholder="再次輸入密碼" />
                            <p style="margin-bottom:0px;">按以下 [註冊] 鍵, 即代表你願意接受 BabyBox 之<a href="privacy" target="_blank">私隱權聲明</a>及<a href="terms" target="_blank">使用條款細則</a></p>
                            <input style="margin-top:15px;" type="submit" name="signup-btn" id="signup-btn" value="註冊" />
    					}
                    </li>
                    <li id="login-newacc">
                        <p style="margin-left:25px;"><a href="@routes.Application.login">已是 BabyBox 會員。請登入</a></p>
                    </li>
                </ul>
            </div>
             <div id="login-footer">
            <p>BabyBox &#169; 2016 - <a href="/#!">關於</a><a href="terms" target="_blank">使用條款</a><a href="privacy" target="_blank">私隱政策</a><a href="/#!">下載手機 Apps</a></p>
        </div>
        </div>
       
    </body>
</html>

<script type="text/javascript" src="@routes.Assets.versioned("app/scripts/tracking.js")"></script>
<script>
    ga_send_pv();
</script>